.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

.newsletter__hero {
    z-index: 2;
}

.newsletter img {
    max-width: 350px;
    margin-bottom: -20px;
}

.newsletter__container {
    background-color: #ECF0F7;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.newsletter__container__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newsletter__container__input {
    position: relative;
}

.newsletter__container__input input {
    width: 350px;
    height: 56px;
    background-color: transparent;
    border: 1px solid var(--grey-natural200);
    border-radius: 4px;
    font-family: ' Source Sans Pro';
    font-size: 16px;
    font-weight: 400;
    color: var(--grey-natural800);
    padding: 10px;
}

.newsletter__container__input input::placeholder {
    font-family: ' Source Sans Pro';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    color: var(--grey-natural300);
}

.newsletter__container__input input:focus {
    border: 1px solid var(--grey-natural800);
    outline: none;
}

.newsletter__container__input button {
    position: absolute;
    top: 8px;
    right: 10px
}

.btn {
    background-color: var(--purple700);
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    font-family: 'Source Sans Pro';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: var(--basic-white);
    border-radius: 4px;
    padding: 8px 16px 8px 16px;
    transition: all 0.3s ease-in-out;
}

.btn--disabled {
    background-color: #69217933;
    cursor: auto;
}

@media (min-width: 769px) {
    .newsletter {
        flex-direction: row;
        height: 180px;
        margin-top: 80px;
        background-color: #ECF0F7;
        justify-content: center;

    }

    .newsletter img {
        margin-bottom: 100px;
    }

    .newsletter__container {
        background-color: transparent;
        margin-bottom: 120px;
        width: auto;
        align-items: flex-start;
        margin-left: 20px;
    }

    .newsletter__container__title {
        align-items: flex-start;
    }
}