.faqs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    gap: 16px;
}

.faqs__faq {
    background: var(--basic-white);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: hidden;
    background: var(--basic-white);
    transition: all 0.8s;
}

.faqs__faq.open {
    background: var(--purple50);
}



.faqs__faq__question {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 24px;
    cursor: pointer;
}

.faqs__faq__question p {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: start;
    width: 100%;
    margin-left: 20px;
}

.faqs__faq__answer {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.02em;
    padding: 0px 24px;
    height: auto;
    max-height: 0;
    transition: all 0.8s;
}
.faqs__faq__answer.open{
    max-height: 300px;
    padding: 8px 24px;
}
.arrowIcon {
    transform: rotate(0deg);
    transition: all 0.5s ease-in-out;
}

.faqs__faq.open>.faqs__faq__question>.arrowIcon {
    transform: rotate(90deg);
}